NODE_ENV = 'development'
PORT = 80
MONGODB_URL='<MONGO_URI>'

KEY_JWT = '<JWT_SECRET>'
EXPIRATION_JWT = 86400 # 2 Hours
EXPIRATION_CODE_FORGOT = 300 # 5 Minutes

MAILER_HOST = 'mail.provider.com'
MAILER_PORT = 465
MAILER_SECURE = true
MAILER_PASSWORD = '<PASSWORD>'
